@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.center-block {
  text-align: left;
  min-height: calc(100vh - 132px);
}

.wrapper {
  background: #eee;
  border: 1px solid #999;
  max-width: 1140px;
}

.wrapper textarea, .wrapper input[type=text] {
  background: linear-gradient(to bottom, #e5e5e5 0%,#f2f2f2 100%);
  border: none;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px dotted #999;
  resize: none;
}

.wrapper textarea:focus {
  outline: none;
}

.input-group {
  width: 100%;
}

.controls {
  text-align: right;
  margin-top: -6px;
}

button {
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  border: 1px solid #999;
  padding: 10px 25px;
  font-weight: bold;
  color: rgb(77,77,77);
  border-width: 1px 0 0 1px;
}

textarea {
  width: 100%;
  height: 500px;
}

input {
  width: 100%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.result {
    margin-top: 20px;
}

pre, code {
  font-size: 80%;
  height: calc(100vh - 278px);
}